body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* header start*/
header{
    width: 100%;
    height: 85px;
    position: relative;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, .3); 
}
header div{
    float: left;
}
ul li{
    text-align: center;
    float: left;
    line-height: 10px;
    padding: 20px;
} 
header .logo{
  margin-left: 100px;
  padding: 25px;
  position: relative;
  top:-20px;
  cursor: pointer;
  transition: width 2s, height 10s;
  
}
#gif{
    width: 281px;
    height: 73px;
    opacity: 0.89;
}
#gif:hover{
    width: 282px;
    height: 74px;
    box-shadow: 2px 2px 40px rgba(167, 158, 245, 0.3);
    border-radius: 10% 10% 10% 10% / 90% 90% 90% 90%;

}

header .nav{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 100px;
}

header .nav ul{
    list-style: none;
}


 header .nav ul li ul{
    display: none;
    position: absolute;
    margin-left: -110.5px;
    

} 
 header .nav ul li a{
    text-decoration: none;
    color: rgb(68, 68, 68);
    text-transform: uppercase;
    font-size: 12;
    font-weight: bold;
}


header .nav ul li a:hover{
    color: #5b78f7;
    
    
}
header .nav ul li:hover{
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    border-radius: 20% 20% 20% 20% / 50% 50% 50% 50%;
    font-size: 16.6px;
}

/* header end*/

/* side icon start*/

.iconarea{
    position: fixed;
    top: 50%;
    left: 30px;

    transform: translateY(-50%);
    border-radius: 20px;
    background-color: #ffffff ;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    z-index: 1;

    padding: 1px 0px;
   

    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.iconarea:hover{
    background-color: #d6d6d642;
}

/* side icon*/
.iconarea a{
    padding: 15px 10px;
    
}

.iconarea a i{
	color:rgba(39,39,39,0.80);

}
 

.iconarea a:hover .fa-facebook-f{
	color: #3b5998;
    font-size: 20px;
}
.iconarea a:hover .fa-twitter{
	color: #00acee ; font-size: 20px;
}
.iconarea a:hover .fa-whatsapp{
	color:  #2d6301 ; font-size: 20px;
}
.iconarea a:hover .fa-telegram{
 
	color: 	#58aef5; font-size: 20px;
}

/* side icon end*/

/* section 1*/

section{
    
    position: relative;
    background-color: #f6f6ff;
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -36px;
  

}
.half1{
    position: relative;
    top: 10%;
    width: 500px;
    margin-left: 180px;
    margin-bottom: 120px;
}
.half2{
    padding-right: 0px;
}
.half2 img{
    width: 920px;
    height: 504px;

}

.half1 h3{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
    color: rgba(83, 83, 83, 0.945);
}
.half1 h1{
    position: relative;
    top:-40px;
    font-size: 50px;
    text-transform: uppercase;
}
.half1 p{
    position: relative;
    top:-70px;
    color: rgba(83, 83, 83, 0.945);
    letter-spacing: .5px;
    width: 600px;
}
.half1 input{
    position: relative;
    top:-50px;
    left: 450px;
    padding:12px 25px;
    outline: none;
    color: white;
    border: 1px solid #769df1d8;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20% 20% 20% 20% / 90% 90% 90% 90%;
    background: linear-gradient(120deg,#84a8f5 20%,#b085ec);
}
.half1 input:hover{
    padding:13px 26px;
    cursor: pointer;
    border: 1px solid #d3c7e4;
    outline: none;
  
    background: linear-gradient(90deg,#5989f0 20%,#a474e7);
}
/* section 1 end*/


/* section 2*/
.section2{
    width: 100%;
    height: 280px;
    margin: 0px auto;
    text-align: center;
    background-color:  #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
 

}

.fisrttxt h1{
    position: relative;
    font-size: 39px;
    top:-40px;


}
.fisrttxt p{
    position: relative;
    top:-50px;
    width: 70%;
    color: rgba(0, 0, 0, 0.747);
    margin: 0px auto;
}

/*serviceee*/
.service{
    position: relative;
    top: -100px;
    width: 80%;
    margin: 0 auto;
   
}
.service i{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.829);
}
.service h1 {
    color: rgba(0, 0, 0, 0.729);
}
.service p {
    color: rgba(0, 0, 0, 0.629);
}
.serhover:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    cursor: pointer;
    
}
.ser1, .ser2{
    width: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:50px 81px;
    

}
.ser1 div, .ser2 div{
    width: 32%;
    float: left;
    padding: 5px;
    margin: 0 auto;
    
}
.ser2{
    padding-top: 35px;
    margin-bottom: 100px;
}

/* section 2 end*/